* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}



.container {
    width: 960px;
    margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



div {
    margin: 0 auto;
    flex-basis: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 33%;
    }
}

header li {
    list-style-type: none;
    float: left;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.logo {
    float: left;
    padding: 0;
    margin: 0;   
}

a {
    text-decoration: none;
    color: #222;
}

header input {
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #e7e7e7;
    border-radius: 0.5rem;
    border: none;
    max-width: 75%;
    width: 500px;
    margin-bottom: 0.5rem;
}

header button{
    float: left;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: solid #5e5e5e 0.5px;
    border-radius: 0.5rem;

}

.firs-section {
    margin: 2rem;
    max-width: 1rem auto;

}

a:hover{
    color: blueviolet;
}

img {
    max-width: 100%;
    border-radius: 1rem;

}


.content {
    max-width: 90%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card {
    float: left;
    border-radius: 1rem;
    width: 220px;
    height: auto;
    padding: 1rem;
    background-color: #e7e7e7;
    margin: 0.5rem;
}

.tools img {
    float: left;
    max-width: 50% !important;
    width: 22%;
    margin: 1rem;
}

.tools img:hover{
    opacity: 50%;
}

footer{
    background-color: #e7e7e7;
    height: 15rem;
    padding: 5rem;
}

.footer-1, .footer-2, .footer-3{
    float: left;
    display: inline;
    max-width: 30%;
}

hr {
    border: #e1e1e1 solid 0.5px 0 0 0;
}

